body {
    text-align: center;
    background-color: black;
    color: white;
}
div {
    margin-top: 15px;
    
}

img {
    width: 600px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}